body {
    min-height: 100vh;
}

button {
    padding: 5px 14px;
    border-radius: 10px;
}

button:hover {
    border-color: #F5A623;
}

.invisible{
    display:none;
    height: 0;
    margin-bottom: 0;
}

/* Header */
header {
    width: 100%;
    padding: 30px 20px; 
    border-bottom: 3px solid #F5A623;
    flex-wrap: wrap;
}

h1{
    cursor:pointer;
    flex: 1; 
    margin: 0; 
    font-size: 50px;
    text-shadow: 2px 1px 2px #F5A623;
}

.main-content {
    flex: 1;
}


#btns-header {
    display: flex;
    gap: 6px; 
}


/* Rekisteröinti/kirjautumissivu */
#register-login {
    margin:20px;
    text-align:center;
    flex:1;
}

#back-button {
    width:160px;
    margin:15px;
}

.userTypeChoice {
    margin:10px;
}

/* VÄRITEEMAT */

.theme1 {
    background-color: #3F81D7;
    color: #DADEEA;
}

.theme2 {
    background-color: #DADEEA;
    color: #414757;
}

/* Aclonica-fontti */
.aclonica-regular {
    font-family: "Aclonica", serif;
    font-weight: 400;
    font-style: normal;
}

/* Alert */
#alert-msg, #alert-new-listing, #alert-error {
    display: none;
    position: fixed;
    top: 140px;
    z-index: 1070;
    left: 50%; 
    transform: translateX(-50%);
    max-width: 800px;
}

/* Myynti-ilmoitukset */
#listings {
    gap: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.listing {
    max-width: 280px;
    border: 2px solid #F5A623;
    border-radius: 20px;
    padding: 15px 20px;
}

.h2-listing{
    border-bottom: 1px solid #F5A623;
    font-size: 25px;
}

.h5-listing{
    font-size: 15px;
}

.location {
    font-size: 15px;
}

.listing-price {
    font-size: 18px;
}

.closing-date {
    font-size: 14px;
}

.highest-bid {
    font-size: 18px;
}

.btns-listing {
    border-top: 1px solid #F5A623;;
}

/* myynti-ilmoituksen teko */

#arrow {
    text-align: right
}

.input-price {
    width: 100px;
}

.input-group-text {
    background-color: white !important;
    color: #414757 !important;
}

.form-group .d-inline-flex {
    gap: 8px; 
}

#auction-info {
    gap: 8px;
}


/* Pienet näytöt */
@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }
    #btns-header {
        padding-top: 5px;
        flex-direction: row !important;
    }
    #btn-new-listing, #login-button {
        padding: 2px 7px;
    }
    .flex-fill {
        display: none;
    }

    #alert-msg, #alert-new-listing, #alert-error {
        max-width: 90%;
    }
}



/*
VÄRIT
sininen: #3F81D7
tumma: #414757
vaalea: #DADEEA
oranssi: #F5A623
punainen: #C1121F
*/